<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/index.css">
    <title>Storify</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="index.html">Storify</a>
      </div>

      <ul class="nav-links">
        <li><a href="products.html">Products</a></li>
        <li><a href="cart.html">Cart</a></li>
        <li><a href="orders.html">Orders</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="signup.html">Sign Up</a></li>
      </ul>
    </nav>
  </body>
</html>
